@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #253745;
    --color-secondary: #9ba8ab;
    --main-background: #eeeeee;
}

/* * {
    cursor: none;
} */

body {
    padding: 0 4rem 0 4rem;
    color: var(--color-primary);
    background-color: var(--main-background);
}

@media screen and (max-width: 992px) {
    body {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.sub-title {
    font-weight: 500;
    color: var(--color-secondary);
    font-size: 3.5vw;
}

.title {
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: -0.025em;
    font-size: 7vw;
    white-space: nowrap;
    display: block;
}